* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
ul {
    list-style-type: none;
    width: 50%;
}
li {
    padding: 5%;
    font-family: 'Geist', sans-serif;
    font-size: 2.4rem;
    color: var(--color2);
}

:root {
    --main-width: 1000px;
    --x: 0;
    --y: 0;
    --s: 0;
    --r: 0;

    --color1: #1a1a1a;
    --color2: #F2F2F2;
}

/*tag selectors*/

body {
    background-color: var(--color1);
    color: var(--color2);
}

body::before {
    /* for the backgronud image. 
    i copied this from reddit and need to figure out how exactly it works*/
    content: "";
    position: fixed;
    background-position: center;
    inset: 0;
    background-color: var(--color1);
    background-image: url("images/resources/Texturelabs_Glass_150M.jpg");
    background-size: 1920px;
    opacity: .5;
    z-index: -2;
}

/*class selectors*/

.flex-horizontal {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-vertical {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    rotate: 5deg;
}

.navbar {
    border: 1px solid red;
}

.navbar a {
    text-decoration: none;
    color: var(--color2);
}

.image-template {
    position: relative;
    z-index: 1;
}

a:hover > .image-template {
    font-variation-settings: 'wght' 500;
}

/*when an image board fills up, it will move down a chunk.
    every chunk has a unique ID for positioning.*/

.imageboard {
    position: relative;
    border: 1px solid green;
    max-width: 1000px;
    height: 1000px;
}

#board1 {
    position: relative;
}

#board2 {
    position: relative;
    top: -100px;
}

/* the following id's/classes (up to #featured-button) 
are for adding a unique image to the site.*/

#shmike1 {
    /*sets the position of the unique image and everything in it*/
    position: relative;
    top: 10%;
    left: 20%;
    /* rotate: 5deg; */
    width: 400px;
    height: 600px; 
}

#shmike1 #featured-button {
    /* there is only one featured art at a time, 
    and its button placement needs to be adjusted for said image. */
    position: absolute;
    rotate: -10deg;
    top: 10px;
    left: 10px;
}

#shmike1 .unique-image {
    /* currently, the image fits to the size of the div it's in. this is wrong.
    it needs to be updated that the div conforms to this image's shape,
    but can be controlled by the div, somehow.*/
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    mask: url("images/resources/Texturelabs_Film_182M.jpg") luminance 0% 0% / 100% 100% no-repeat;
    /*maybe class chaining to make this and shadow class move together?*/
}

.fullscreen-icon {
    /* find a better name for this.
    every image will have this expand icon in it. it's actually just a box with a mask for color change.
    (the image and the icon are in a button that opens a modal)*/
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--color1);
    mask: url("images/image-expand.svg") alpha 0% 0% / 100% 100% no-repeat;
    z-index: 1;
    bottom: 50px;
    left: 50px;
    transition: background-color .2s linear;
}

.expand-image:hover > .fullscreen-icon {
    background-color: white;
    color: white;
    transition: background-color .2s linear;
}

.shadow {
    position: absolute;
    top: 10px;
    left: 10px;
    filter: blur(3px) opacity(0.3);
    /*this does not blur the edges on masks. need to find a new method*/
    
    z-index: -1;
}

/*dialogue/modal customization. the look for fullscreening an image*/

dialog {
    border:none;
    background-color: transparent;
    overflow: hidden;
}

dialog::backdrop {
  background: rgb(0 0 0 / 10%);
  backdrop-filter:blur(3px) saturate(50%);
}

.fullscreen {
    flex-wrap: nowrap;
    justify-content: space-between; /*most important line in this whole thing*/
    height: 100cqh;
    width: 100cqw;
    padding: 5%;
}

.fullscreen h1 {
    /*i put margins on the tag so gotta reset it lol*/
    margin: 0;
    padding: 2rem;
    color: white;
}

.fullscreen img {
    position: relative;
    flex: 1 1 0;      /* Forces it to share space and shrink */
    min-height: 0;    /* Overrides the image's massive intrinsic height */
    object-fit: contain; /* Prevents the image from squishing or distorting */
    width: 100%;
}

.fullscreen .x-button {
    /*uses a mask + background color for the shape.*/
    padding: 2rem;
    background-color: var(--color2);
    min-height: 100px;
    mask: url("images/x-button.svg") alpha 0% 0% / 100% 100% no-repeat;
    transition: background-color .2s linear,
    scale .2s linear;
}

.fullscreen .x-button:hover {
    background-color: red;
    scale: 1.2;
    transition: background-color .2s linear,
    scale .2s linear;
}


/*featured button functionality*/
#featured-button {
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 1.5rem;
    z-index: 1;
    padding: .5rem;
    /*this is shit. need to read up on buttons and do better*/
    color: var(--color1);
    
}
#featured-button img {
    width: auto;
    position: relative;
    height: 3rem;
    top: -.8rem;
}
#featured-button span {
    position: relative;
    font-family: "PermanentMarker", cursive;
    font-size: 4rem;
    padding-left: 1rem;
    top: -1rem;
    padding-right: 1rem;
}
#featured-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    rotate: -20deg;
    scale: 1.05;
    transition: background-color .1s ease-out,
    scale .1s ease-out;
}

.temp {
    width: 500px;
    rotate: 5deg;
    mask: url("images/resources/Texturelabs_Film_182M.jpg") luminance 0% 0% / 100% 100% no-repeat;
}

/* the following section is for the aboutme page.*/ 

.about-me {
    height: 500px;
}

.about-me > * {
    flex: 1;
}

.about-me .link-bar {
    flex: 1;
    align-content: space-evenly;
}

.about-me p {
    padding: 10%;
}

.profile-pic {
    border-radius: 100%;
    padding:2rem;
}

.link-bar a {
    margin: 5rem;
}

h1, h2 {
    font-family: "Kufam", sans-serif;
    font-style: italic;
    font-size: 4.8rem;
    margin: 0rem;
}

h1 {
    margin: 5rem;
}

p {
    font-family:"Geist", sans-serif;
    font-size: 2.0rem;
    font-variation-settings: 'wght' 300;
}

hr {
    margin: 5rem;
    width: 75%;
    border: 1px solid var(--color2);
}


/*media queries*/

@media (min-width: 1000px) {
    /* Locks to a fixed width once the screen exceeds 1000px */
    body{
        max-width: 1000px;    
    margin: 0 auto; 
    }
}

/*fonts*/

@font-face {
    font-family: 'Kufam';
    src: url(fonts/Kufam/Kufam-VariableFont_wght.ttf) format('truetype');
    font-variation-settings:
    'wght' 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('fonts/Geist/Geist-VariableFont_wght.ttf') format('truetype');
    font-variation-settings:
    'wght' 100;
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('fonts/PermanentMarker/PermanentMarker-Regular.ttf') format('truetype');
}



